html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


body{
  font-family: 'Vazir', sans-serif , cursive;
  color: white;
  background-color: #243665;
  font-size: 1.5em;
}

.container {

    display: block;
    text-align: center;    
    position: relative;
    top: 125px;
    
    
}

.title {
    display: table;
    font-size: 1em;
    margin: 0 auto;
    padding: .8em;
    border: 3px solid white;
    border-radius: 0%;
}

.circle {

    background-color: #06b678;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    margin: 2em auto;


}


.numbers {
    text-align: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content : center;
    position: relative;
    top: 45%;
    
}


.number {
    
    display: inline-block;
    border: 5px solid white;
    border-radius: 50%;
    margin: .3em;
    padding: 0.3em;
    font-size: 1.4em;
    background-color: #192647;
    transition: all .2s;
    width: 20%;
    
}


.number:hover {
    border: 5px solid #192647;
    background-color: white;
    color: #192647;
    
}

.colon {
    font-size: 1.3em;
}

.input-panel {
    position: absolute;
    bottom: 90%;
    font-size: 1em;


}
.submit-btn-start {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 1em;
    color: white;
    background-color: #243665;
    position: relative;
    top: 7em;
    bottom: 0;
    left: 3.5em;
    transition: all .2s;

}

.submit-btn-start:hover{
    background-color: #03f6a1;
    color: #243665;
    border: 1px solid #243665;
    cursor: pointer;
}


.submit-btn-stop {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 1em;
    color: white;
    background-color: #243665;
    position: relative;
    top: 7em;
    bottom: 0;
    left: -3.5em;
    right: 10em;
    transition: all .2s;
}

.submit-btn-stop:hover{
    background-color: #03f6a1;
    color: #243665;
    border: 1px solid #243665;
    cursor: pointer;
}



.input-area {
    display: inline-block;
    width: 21%;
    border-radius: 40%;
    border: 1px solid #243665;
    text-align: center;
    height: 3em;
    transition: all .5s;
}

.input-area:hover {
    width: 25%;
    height: 3.5em;
}