:root {
  --text-color: rgb(95, 186, 167);
  --bg-color: #f4f4f4;
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto' ,Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logo {
  text-align: center;
  background: url("./assets/money.png") center center / cover;
  height: 8rem;
  width: 8rem;
  margin-bottom: 0.5rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight: bold;
  color: var(--text-color);
}

.caption {
  text-align: center;
  margin: 1rem 0 2rem 0;
  font-weight: 500;
}

.src,
.dst,
.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1rem 0;
}

.cur-input {
  width: 4rem;
  text-align: right;
  background-color: var(--bg-color);
  border: none;
  transform: scale(1.5);
  padding: .3rem 0;
}

.cur-input:hover , .cur-input:focus {
  background-color: #fff;
}

.swap {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: var(--text-color);
  padding: 1rem 2rem;
  font-family: 'Roboto' ,Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

.calculation {
  font-weight: bold;
  font-size: 1.5rem;
}